:root {
  --primary-font-family: Poppins;
  --secondary-font-color: #ffffff;
  --secondary-bg-color: #f7f7f7;
  --secondary-font-family: Garamond;
}

body {
  font-family: var(--primary-font-family), sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-delivery {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  margin: 0 auto;
}

.header-stores {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.5;
  width: 66px;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-stores:focus,
.header-stores:hover {
  -webkit-transition: color;
  transition: color;
  color: orange;
}

.header-location {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-location {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: var(--secondary-bg-color);
    padding-top: 5px;
    padding-bottom: 4px;
  }
}

.header-logo {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.5;
  letter-spacing: 0.95px;
  color: white;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.header-main {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header-main {
    padding-top: 24px;
  }
}

.header-registr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-search {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-search {
    width: 520px;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: none;
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
  }
}

.header-registr-nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-registr-nav {
    display: inline-block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: var(--primary-font-family);
    color: white;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.header-registr-nav:hover,
.header-registr-nav:focus {
  color: black;
}

.attribute::before {
  content: '|';
  margin-left: 3px;
}

.header-search-btn {
  display: inline-block;
  width: 48px;
  height: 38px;
  border: 0;
  background-image: url(https://img.icons8.com/search);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #e7dfdf;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  background-color: #f7f7f7;
  position: absolute;
  width: 42px;
  height: 43px;
  border: none;
}

.SearchForm-button-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0;
  fill: white;
}

.header-search-form {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header-search-form {
    display: inline-block;
    width: 100%;
    max-width: 584px;
    opacity: 24%;
    border-radius: 3px;
    overflow: hidden;
  }
}

.header-block {
  margin-left: 24px;
  margin-right: 24px;
}

.header-loc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-loc-icon {
  width: 8px;
  height: 11px;
  margin-right: 6px;
}

.header-basket {
  width: 16px;
  height: 24px;
  margin-left: 16px;
}

.signIn {
  margin-right: 3px;
}

.header-burger {
  width: 20px;
  height: 15px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-burger {
    display: none;
  }
}

.header-burger:focus,
.header-burger:hover {
  background-color: orange;
}

.container {
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (min-width: 1200px) {
  .container {
    margin-left: 24px;
    margin-right: 24px;
    margin: 0 auto;
    max-width: 1600px;
  }
}

.nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 24px;
    margin-bottom: 25px;
  }
}

.nav-link {
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  font-weight: 600px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:focus,
.nav-link:hover {
  color: black;
}

.nav-item {
  margin-right: 31px;
}

.nav-item:last-child {
  margin-right: 0px;
}

.main-title {
  color: transparent;
  padding-top: 180px;
  padding-bottom: 247px;
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: white;
  }
}

.main-section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0.27)), color-stop(rgba(27, 27, 27, 0.0003)), to(rgba(0, 0, 0, 0.0001))), url("/images/9193579.jpg");
  background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.27), rgba(27, 27, 27, 0.0003), rgba(0, 0, 0, 0.0001)), url("/images/9193579.jpg");
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-section {
    background-position: 60% 0%;
  }
}

.main-section .active {
  background-image: url("/images/bgImage2.jpg");
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-section .active {
    background-position: 60% 0%;
  }
}

.main-signUp {
  margin-top: 14px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-title-signUp {
  margin-top: 24px;
  font-weight: 400px;
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--primary-font-family);
  letter-spacing: 0.87px;
}

@media screen and (min-width: 1200px) {
  .main-title-signUp {
    margin-top: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .main-signUp-div {
    margin: 0 auto;
    width: 440px;
  }
}

.main-signUp-input {
  width: 224px;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.8px;
  padding-left: 11px;
  padding-top: 8px;
  padding-bottom: 7px;
  border: 1px solid #e1e0e1;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .main-signUp-input {
    width: 309px;
  }
}

.main-signUp-btn {
  width: 94px;
  height: 32px;
  margin-left: 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600px;
  line-height: 2;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .main-signUp-btn {
    margin-left: 12px;
  }
}

.main-signUp-btn:focus,
.main-signUp-btn:hover {
  color: black;
  background-color: orange;
  border: none;
}

.footer-box {
  margin-left: 16px;
}

@media screen and (min-width: 1200px) {
  .footer-box {
    background-color: var(--secondary-bg-color);
    padding-top: 26px;
    padding-bottom: 14px;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 891px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-points {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px #e1e0e1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 1200px) {
  .footer-points {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 146px;
  }
}

.header-mobile-arrow {
  display: inline-block;
  width: 7px;
  height: 7px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-mobile-arrow {
    display: none;
  }
}

.header-mobile-arrow:focus,
.header-mobile-arrow:hover {
  -webkit-transition: color;
  transition: color;
  background-color: orange;
}

.footer-points-social {
  margin-right: 0px;
}

@media screen and (max-width: 1200px) {
  .footer-points-social {
    border-top: solid 3px #e1e0e1;
    padding-top: 24px;
  }
}

.footer-copyright {
  margin-top: 16px;
  text-align: center;
  font-weight: 400px;
  font-size: 9px;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 1200px) {
  .footer-copyright {
    margin-top: 38px;
  }
}

.footer-title {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  letter-spacing: 1.16px;
  line-height: 1.17;
  margin-bottom: 17px;
}

@media screen and (max-width: 1200px) {
  .footer-title {
    margin-top: 17px;
  }
}

.footer-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: 0.1px;
  color: black;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list:hover,
.footer-list:focus {
  color: orange;
}

.footer-socail-links {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 139px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-item {
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
  -webkit-transition: fill;
  transition: fill;
  fill: orange;
}

.footer-features {
  display: none;
}

@media screen and (min-width: 1200px) {
  .footer-features {
    display: inline;
  }
}

.social {
  display: none;
}

@media screen and (min-width: 1200px) {
  .social {
    display: inline-block;
    margin-bottom: 17px;
    font-family: var(--secondary-font-family);
    font-size: 16px;
    letter-spacing: 1.16px;
    line-height: 1.17;
    margin-bottom: 17px;
  }
}
/*# sourceMappingURL=main.css.map */